@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    :root {
        /* --blue: hsl(215deg, 100%, 30%, 1);
        --orange: hsl(30deg, 100%, 20%, 1);
        --green: hsl(150deg, 100%, 15%, 1);
        --pink: hsl(300deg, 100%, 25%, 1);
        --purple: hsl(270deg, 100%, 35%, 1);
        --yellow: hsl(50deg, 100%, 15%, 1); */

        --blue: hsl(200deg, 100%, 30%, 1);
        --orange: hsl(30deg, 100%, 30%, 1);
        --green: hsl(150deg, 100%, 30%, 1);
        --pink: hsl(300deg, 100%, 30%, 1);
        --purple: hsl(270deg, 100%, 30%, 1);
        --yellow: hsl(50deg, 100%, 30%, 1);

        --layer0: hsl(0deg, 0%, 95%, 1);
        --layer1: hsl(0deg, 0%, 90%, 1);
        --layer2: hsl(0deg, 0%, 80%, 1);
        --layer3: hsl(0deg, 0%, 70%, 1);
        --layer4: hsl(0deg, 0%, 60%, 1);
        --layer5: hsl(0deg, 0%, 50%, 1);
        --layer6: hsl(0deg, 0%, 30%, 1);

        --font: hsl(0deg, 0%, 5%, 1);
        --accent: var(--purple);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --blue: hsl(200deg, 100%, 70%, 1);
        --orange: hsl(30deg, 100%, 70%, 1);
        --green: hsl(150deg, 100%, 70%, 1);
        --pink: hsl(300deg, 100%, 70%, 1);
        --purple: hsl(270deg, 100%, 70%, 1);
        --yellow: hsl(50deg, 100%, 70%, 1);

        --layer0: hsl(0deg, 0%, 5%, 1);
        --layer1: hsl(0deg, 0%, 10%, 1);
        --layer2: hsl(0deg, 0%, 20%, 1);
        --layer3: hsl(0deg, 0%, 30%, 1);
        --layer4: hsl(0deg, 0%, 40%, 1);
        --layer5: hsl(0deg, 0%, 50%, 1);
        --layer6: hsl(0deg, 0%, 60%, 1);

        --font: hsl(0deg, 0%, 95%, 1);
        --accent: var(--purple);
    }
}

:root {
    /*
    --black: #222;
    --blue: #29f;
    --orange: #f92;
    --green: #2f9;
    --pink: #f29;
    --purple: #92f;
    --yellow: #fd2;
    */

    --shade0: rgba(255, 255, 255, 0.1);
    --font-family-mono: 'Noto Sans Mono', monospace;
    --font-family-default: 'Noto Sans', sans-serif;
    --gradient: linear-gradient(130deg, var(--blue), var(--purple));

    font-size: 16px;
    color: var(--font);
    font-family: var(--font-family-default);
}

/* :defined {
    opacity: 1;
}
:not(:defined) {
    opacity: 0;
} */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    flex: 1;
    /* opacity: 0; */
    width: 100vw;
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: inherit;
    flex-direction: column;
    /* transition: opacity ease-in 150ms; */
    background-color: var(--layer0);
}

main {
    display: flex;
    padding: 2vh 5vw;
    font-family: inherit;
    flex-direction: column;
}

main>* {
    width: 100%;
    margin: auto;
    max-width: 1200px;
}

a {
    cursor: pointer;
    color: var(--accent);
    text-decoration: none;
    font-family: inherit;
}

p {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

span {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    vertical-align: middle;
}

code {
    font-size: 1rem;
    border-radius: 4px;
    padding: 0.1rem 0.25rem;
    background: var(--layer2);
    font-family: var(--font-family-mono);
}

i {
    font-weight: normal;
    font-family: var(--font-family-mono);
}

li {
    margin: 0.6rem;
}

h1 {
    margin: 1rem 0;
    font-size: 3rem;
    color: var(--font);
    font-weight: normal;
    font-family: inherit;
}

h2 {
    font-size: 2.5rem;
    color: var(--font);
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    font-family: inherit;
}

h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--font);
    font-weight: normal;
    font-family: inherit;
    margin: 3rem 0 1rem 0;
    border-bottom: solid 2px var(--layer6);
}

h4 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: var(--font);
    font-weight: normal;
    font-family: inherit;
}

pre {
    tab-size: 4;
    padding: 1rem;
    margin: 0.1rem;
    display: block;
    overflow-x: auto;
    font-size: 0.9rem;
    border-radius: 4px;
    color: var(--font);
    background-color: var(--layer1);
    font-family: var(--font-family-mono);
}

/* pre > * {
    padding: 1rem;
} */
section {
    padding: 1rem;
    display: flex;
    margin: 1rem auto;
    max-width: 1000px;
    color: var(--font);
    flex-direction: column;
}

label {
    display: flex;
    color: var(--font);
    align-items: center;
    justify-content: center;
}

button,
input[type="submit"],
input[type="button"] {
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    background: none;
    border-radius: 3px;
    margin: 0.5rem auto;
    color: var(--accent);
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 1px solid var(--accent);
    transition: background 300ms !important;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    /* background: var(--shade0); */
}

select,
input:not([type="button"], [type="submit"]) {
    outline: none;
    margin: 0.5rem;
    padding: 0.5rem;
    color: var(--font);
    border-radius: 3px;
    background: var(--layer1);
    border: 1px solid var(--layer6);
    border-bottom: 1px solid var(--accent);
}

[id$="-demo"] {
    white-space: normal;
}

.title {
    display: block;
    padding: 1rem 0;
    text-align: center;
}

.title>h1 {
    font-weight: normal;
}

.title>h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--layer6);
}

.title>h1>span:nth-of-type(1) {
    font-size: 4rem;
    padding: 0.5rem;
    border-radius: 3px;
    color: var(--layer0);
    margin-right: 0.5rem;
    background: var(--gradient);
}

.menu {
    width: 100%;
    display: block;
    text-align: center;
}

.menu a {
    font-weight: normal;
    font-size: 1.25rem;
    color: var(--accent);
    padding: 1rem 1.5rem;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    transition: background 300ms;
}

.menu a:hover {
    background: var(--shade0);
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tile {
    display: flex;
    margin: 0.25rem;
    padding: 0.25rem;
    flex-direction: column;
    max-width: calc(50% - 1rem);
    min-width: calc(50% - 1rem);
}

.tile span {
    color: var(--layer6);
    vertical-align: middle;
}

.material-symbols-rounded {
    background-color: var(--purple);
    background-image: var(--gradient);
    background-clip: text;
    /* color: transparent !important; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 1.75em !important;
}

:root {
    accent-color: var(--accent);
}

:focus-visible {
    outline-color: var(--accent);
}

::selection {
    background-color: var(--accent);
}

::marker {
    color: var(--accent);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--layer2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--layer3);
}

::-webkit-scrollbar-corner {
    background: transparent
}

::-webkit-calendar-picker-indicator,
::-webkit-clear-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    color: var(--accent);
}