:root {
    --black: #222;
    --blue: #29f;
    --orange: #f92;
    --green: #2f9;
    --pink: #f29;
    --purple: #92f;
    --lime: #9f2;
    --white: #fff;
    --lightGray: #eee;
    --darkGray: #999;
    --blackTrans: rgba(0, 0, 0, 0.3);
    --shadow: 0 3px 6px var(--blackTrans);

    --accent: var(--purple);
    --color: #ddd;
    --forground: #333;
    --background: var(--black);
}
:defined {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}
:not(:defined) {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
html, body {
    margin: 0;
    padding: 0;
	font-size: 16px;
}
body > * {
	font-size: 1rem;
	color: var(--color);
	box-sizing: border-box;
	font-family: sans-serif;
	transition: all linear 300ms;
}
body {
	flex: 1;
	width: 100vw;
	display: flex;
	min-height: 100vh;
	overflow-x: hidden;
    flex-direction: column;
	background-color: var(--background);
}
a {
	cursor: pointer;
	color: var(--accent);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
i {
	font-weight: 200;
	font-family: monospace;
}
li {
	margin: 0.6rem;
}
h1 {
	font-size: 3rem;
	font-weight: 300;
	margin: 1rem 0;
}
h2 {
	font-weight: 300;
	font-size: 2.9rem;
	margin: 3rem 0 1rem 0;
}
h3 {
    padding: 1rem 0;
	font-weight: 300;
	font-size: 2.9rem;
	margin: 3rem 0 2rem 0;
	border-bottom: solid 2px var(--color);
}
pre {
	overflow-x: auto;
    border-radius: 4px;
	font-family: monospace;
	background-color: var(--forground);
}
label {
	display: flex;
    align-items: center;
    justify-content: center;
}
section {
	margin: 1rem auto;
    padding: 1rem;
    /* height: 100vh; */
    display: flex;
	max-width: 1000px;
    flex-direction: column;
    justify-content: center;
}
button {
    display: inline-block;
    border: none;
    cursor: pointer;
    margin: 0.5rem auto;
    padding: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	color: dimgray;
	border-radius: 5px;
    background: var(--accent);
}
button:hover {
	filter: saturate(0.6);
}
x-route {
    width: 100%;
    display: block;
    padding: 0 5vw;
	margin: 5vh auto;
	max-width: 1200px;
}
.title {
	display: block;
	padding: 1rem 0;
	text-align: center;
}
.title > h1 {
	font-weight: 100;
}
.title > h2 {
	font-weight: 100;
	font-size: 1.5rem;
}
.title > h1 > span {
	font-size: 4rem;
    color: var(--accent);
	text-transform: uppercase;
}
.menu {
	width: 100%;
	display: block;
	text-align: center;
	border-bottom: solid 3px var(--accent);
}
.menu a {
	display: inline-block;
	vertical-align: middle;
	padding: 1.3rem 1.9rem;
	text-transform: uppercase;
}
.menu a:hover {
	background: rgba(0, 0, 0, 0.1);
}
/* .menu-item {
	position: relative;
	display: inline-block;
}
.menu-item-button > a::after {
	margin: 0.6rem;
	content: '';
	color: var(--accent);
}
.menu-item-content {
	z-index: 1;
	display: none;
	position: absolute;
	background: var(--forground);
}
.menu-item:hover .menu-item-content {
  display: block;
} */
