:root > * {
	margin: 0;
	padding: 0;
	color: dimgray;
	box-sizing: border-box;
	font-family: sans-serif;
}

html, body {
	flex: 1;
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow-x: hidden;
    flex-direction: column;
	background-color: white;
}

h1 {
	font-size: 3rem;
	font-weight: 300;
	margin: 1rem 0;
}
h2 {
	font-weight: 300;
	font-size: 2.9rem;
	margin: 3rem 0 1rem 0;
}
a {
	cursor: pointer;
	color: darkorange;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
li {
	margin: 0.6rem;
}
i {
	font-weight: 100;
	font-family: monospace;
}
pre {
	flex: 1 0;
	/*width: 100%;*/
	/*min-height: 300px;*/
	font-family: monospace !important;
	background-color: whitesmoke !important;
}

.title {
	display: block;
	padding: 1rem 0;
	text-align: center;
}
.title > h1 {
	font-weight: 100;
    color: lightslategrey;
}
.title > h2 {
	font-weight: 100;
	font-size: 1.3rem;
    color: lightslategrey;
}
.title > h1 > span {
	font-size: 3.9rem;
	font-weight: 100;
    color: darkorange;
	text-transform: uppercase;
}
.menu {
	width: 100%;
	display: block;
	text-align: center;
	background-color: whitesmoke;
	border-bottom: solid 3px darkorange;
}
.menu > a {
	display: inline-block;
	padding: 1.3rem 1.9rem;
	text-transform: uppercase;
}
.menu > a:hover {
	background: rgba(0, 0, 0, 0.1);
}

/*
	views
*/

j-view {
	padding: 1rem;
	display: block;
}
j-view > :first-child {
	margin: auto;
	max-width: 900px;
}

v-root {
	flex-direction: column;
}
v-404 {
	text-align: center;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}
