pre code.hljs {
    display: block;
    overflow-x: auto;
}
.hljs {
    color: var(--font);
    background: var(--forground);
}
.hljs ::selection,.hljs::selection {
    color: #80868b;
    background-color: var(--forground);
}
.hljs-comment {
    color: #44464d;
}
.hljs-tag {
    color: var(--font);
}
.hljs-subst {
    color: var(--pink);
}
.hljs-operator,.hljs-punctuation {
    color: #80868b;
}
.hljs-operator {
    opacity: .5;
}
.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable {
    color: var(--purple);
}
.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_ {
    color: var(--orange);
}
.hljs-class .hljs-title,.hljs-title,.hljs-title.class_ {
    color: var(--yellow);
}
.hljs-strong {
    font-weight: 700;
    color: var(--yellow);
}
.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__ {
    color: var(--green);
}
.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp {
    color: #00bcd4;
}
.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property {
    color: var(--blue);
}
.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type {
    color: var(--purple);
}
.hljs-emphasis {
    color: var(--purple);
    font-style: italic
}
.hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string {
    color: #8d6e63;
}
.hljs-meta .hljs-keyword,.hljs-meta-keyword {
    font-weight: 700;
}
